body{
    user-select: none;
}

.inverter {
    position: absolute;
    top: 8px;
    right: 16px;
}

.user-btn {
    position: absolute;
    top: 20px;
    right: 100px;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.likes-box{
    text-align: center;
    margin-top: 0;
    width: 70px;
    font-size: 15px;
    font-weight: bolder;
}

.edit-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
}

.modal-menu-item{
    padding: 20px;
}